.root {
  background-color: rgb(39 39 42);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  list-style: none;
  margin: 0.5rem 0;
  padding: 0.5rem;
  transition: background-color 0.25s ease-in, color 0.25s ease-in;
  will-change: background-color, color;
}

.root:hover {
  background-color: rgb(17 94 89);
  color: #fff;
}

.root h2 {
  margin: 0;
  padding: 0;
}

.root small {
  font-weight: 300;
  padding: 0 1rem;
}
